body{
	margin:0px auto;
	width: 1000px;
	font-family: Arial, sans-serif;
	color:#242222;
}
.header{
	height: auto;
}

.top{
	height: 60px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0;
	margin-top: 10px;
}
.top .logo img{
	height: 40px;
	margin:10px 150px 0px 0px;

}

.top .search input{
	border:none;
	width: 450px;
	height: 25px;
	margin-right: 150px;
	flex-grow: 1;

}
.top .search i{
	color:#888;
}

.search input:active {
	border: none;
}

.top .profile-user{
	display: flex;
	flex-direction: row;
}

.top .profile-user .upload,.notify{
	margin: 20px;

}

.top .profile-user .overlay{
	background-color: #666;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	position: absolute;
	top:-12px;
	left:-13px;
	opacity: 0.6;
	display: none;
}
.top .profile-user i{
	position: relative;
	color: #888;
}
.top .profile-user i:hover .overlay{
	display: inline;
}

.top .search{
	border-radius: 8px;
	border: 2px;
}
.bot{
	height: 50px;
}
.bot ul{
	margin:0;
	padding:0;
	list-style: none;
}
.bot ul li{
	float: left;
	padding-right: 20px;
}
.bot ul li a{
	text-decoration: none;
	line-height: 50px;
	font-size: 80%;
	color:#242222;
}
.bot ul li:hover a{
	color: #864FE2;
}

.bot .drop-down{
	display: none;
}
